<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--全局的Spring工具类-->
    <bean id="userBiz" class="com.aiziyuer.webapp.struts.usr.biz.impl.UserBizImp">
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>