<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--全局的Spring工具类-->
    <bean id="userBiz" class="com.aiziyuer.webapp.shiro.biz.impl.UserBizImpl">
        <property name="userDao" ref="userDao"/>
        <property name="roleBiz" ref="roleBiz" />
        <property name="passwordHelper" ref="passwordHelper"/>
    </bean>

    <bean id="roleBiz" class="com.aiziyuer.webapp.shiro.biz.impl.RoleBizImpl">
    </bean>

</beans>