@charset "utf-8";

// 页脚的设置
$foot-bg-color: #f5f5f5;
$foot-height: 60px;

html {
  // 这里必须要设置最小高度是100%，相对布局， 才能是footer正常显示在底部
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $foot-height;
}

.footer {
  background-color: $foot-bg-color;
  bottom: 0;
  clear: both;
  height: $foot-height;
  position: absolute;
  width: 100%;
}

footer > .container > .text-muted {
  margin: 20px 0;
}